/*
Plantin MT Pro Bold

font-family: plantin, sans-serif;

font-weight: 700;

font-style: normal;


Plantin MT Pro Bold Italic

font-family: plantin, sans-serif;

font-weight: 700;

font-style: italic;


Plantin MT Pro Italic

font-family: plantin, sans-serif;

font-weight: 400;

font-style: italic;


Plantin MT Pro Regular

font-family: plantin, sans-serif;

font-weight: 400;

font-style: normal;


Plantin MT Pro Bold Condensed

font-family: plantin-condensed, sans-serif;

font-weight: 700;

font-style: normal; 


<link rel="stylesheet" href="https://use.typekit.net/fus0ckt.css">
*/

html{
    height: 100%;
}

footer{
    height: 1080px;
    width: auto;
    display: flex;
    position: absolute;
}

header{
    font-size: 50px;
    font-family: Plantin;
    padding-top: 260px;
    padding-left: 100px;
    width: 360px;
    flex: 10;
    position: absolute;
}

.subtitle{
    font-size: 30px;
    font-family: Plantin;
    font-style: italic;
    margin-top: -10px;
}

.header{
    flex: 10;
    position: relative;
}

.line{
    flex: 10;
    height: 1.5px;
    background-color: black;
    margin-top: 330px;
    margin-left: 270px
}

.definition{
    flex: 1;
    margin-top: 280px;
    padding-right: 50px
}

.definition p{
    font-family: Plantin;
    font-size: 15px;
}

footer .quote{
    font-family: Plantin;
    font-style: italic;
    font-size: 30px;
    line-height: 30px
}

footer{
    overflow: hidden;
    position: absolute;
    z-index: 3;
}

.scroll{
    height: 100%;
    position: absolute;
    z-index: 5;
    padding-left: 200px;

}

.scroll div{
    width: 500px;
    height: 100%;
    overflow: scroll;
    padding-left: auto;
}

.scroll img{
    display: block;
    margin: 0 auto;
}

.bg{
    background-image: url(IMAGES/main_bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1080px;
    width: auto;
    position: relative;
    z-index: -4;
}